'name' 'Karel'
'scopeName' 'source.karel'
'fileTypes' [
  'kl'
]
'patterns' [
  {
    'comment' 'PROGRAM'
    'match' '\\b(?'i'(PROGRAM))\\b\\s+(\\w+)'
    'captures'
      '0'
        'name' 'meta.function.program.karel'
      '1'
        'name' 'storage.type.function.program.karel'
      '2'
        'name' 'entity.name.function.program.karel'
  }
]
